.avatar {
  float: left;
}

body {
  color: white;
  font-family: courier;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}

.topnav a:not(:first-child) {
  padding-top: 38px;
  padding-bottom: 34px;
}

.topnav a:hover {
  background-color: #444444;
}

.topnav h1 {
  color: white;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-top: 14px;
  margin-bottom: 15px;
  font-size: 36px;
}

.topnav a .active {
  background-color: #4CAF50;
  color: white;
}

a {
  text-decoration: none;
  color: red;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
  ;
}

p {
  font-size: 20px;
}

footer {
  background-color: #333333;
  width: 100%;
  position: fixed;
  bottom: 5px;
  color: white;
  margin: 5px;
}

.designer {
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.text_edit {
  font-size: 18px;
}
