* {
  box-sizing:border-box;
}

body {
  background:gold;
  color:#000;
  font-family:'Actor';
}

img {
  float:right;
}

.language {
  background:#ccc;
  display:inline-block;
  font-family:'Cousine';
  font-size:60%;
  padding:5px;
}

.language:before {
  content:'[';
}

.language:after {
  content:']';
}
